---
import { pwaInfo } from 'virtual:pwa-info';

import '../styles/price_monitoring_layout.css';

import '@fontsource-variable/inter';
import { Icon } from 'astro-icon/components';

import Footer from '../components/footer.astro';
import CurrencyRates from '../components/react/CurrencyRates';

const { generator, site } = Astro;
const image = new URL('prices_page.png', site);
const description = 'Consulta precios crypto.';
const cryptoArbitrageWebsocketURL = import.meta.env
  .PUBLIC_CRYPTO_ARBITRAGE_WEBSOCKET_URL;
let token = '';

try {
  const response = await fetch(`${Astro.url}/token.json`);

  if (response.ok) {
    token = (await response.json()).token;
  }
} catch (error) {
  console.error(error);
}
---

<!doctype html>
<html lang='en' class='h-full motion-safe:scroll-smooth' data-theme='dark'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='/favicon.svg' type='image/svg+xml' />
    <meta name='generator' content={generator} />

    <title>Crypto Prices</title>
    <meta name='description' content={description} />

    <!-- social media -->
    <meta property='og:title' content='Crypto Prices' />
    <meta property='og:type' content='website' />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={image} />
    <meta property='og:url' content={site} />
    <meta name='twitter:card' content='summary_large_image' />

    <!-- initialize theme -->
    <script is:inline>
      document.documentElement.dataset.theme = 'dark';
    </script>

    <script
      defer
      src='https://unpkg.com/htmx.org@2.0.3'
      integrity='sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq'
      crossorigin='anonymous'></script>
    <script defer src='https://unpkg.com/htmx-ext-ws@2.0.1/ws.js'></script>
    <script
      defer
      src='https://unpkg.com/htmx-ext-class-tools@2.0.1/class-tools.js'
    ></script>

    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <script src='/src/pwa/pwa.ts'></script>
  </head>
  <body class='overflow-x-hidden bg-default text-default'>
    <div
      id='price-monitoring-app'
      hx-ext='ws'
      ws-connect={`${cryptoArbitrageWebsocketURL}/websocket/web?at=${token}`}
    >
      <header
        class='grid w-full auto-rows-min justify-items-center md:min-h-[168px] lg:min-h-[84px]'
      >
        <div
          class='header-content flex h-full items-center justify-center transition-all md:h-full md:px-2 md:py-2'
        >
          <CurrencyRates client:only='react' />
        </div>
        <button
          class='flex w-full items-center justify-center bg-onSurface md:hidden'
        >
          <span class='text-[--color-primary] text-xs'>Dollar</span>
          <Icon class='text-offset' name='mdi:chevron-down' />
          <Icon class='text-offset' name='mdi:chevron-up' />
        </button>
      </header>
      <main class='h-full md:py-2 lg:px-2'>
        <slot />
      </main>
      <footer class='px-2 py-2 bg-surface'>
        <Footer
          navLinks={[
            {
              url: '/native-app',
              description: 'CryptoARbitrage App',
              icon: 'mdi:adb',
            },
          ]}
        />
      </footer>
    </div>
  </body>
</html>

<style>
  .header-content.expanded {
    height: 100%;
    padding: 0.5rem;
  }

  .header-content.expanded + button > [data-icon='mdi:chevron-down'] {
    display: none;
  }

  .header-content.expanded + button > [data-icon='mdi:chevron-up'] {
    display: block;
  }

  .header-content + button > [data-icon='mdi:chevron-down'] {
    display: block;
  }

  .header-content + button > [data-icon='mdi:chevron-up'] {
    display: none;
  }
</style>

<script>
  const headerContentElem = document.querySelector('.header-content');
  const expandButtonElem = document.querySelector('.header-content + button');

  expandButtonElem?.addEventListener('click', () => {
    headerContentElem?.classList.toggle('expanded');
  });
</script>
