---
import "../styles/index.css";
import "../styles/prices.css";

import "@fontsource-variable/inter";
import Footer from "../components/footer.astro";
import DollarRates from "../components/crypto-monitoring/DollarRates.astro";
import { Icon } from "astro-icon/components";
import ConfigurationBar from "../components/ConfigurationBar.astro";

const { generator, site } = Astro;
const image = new URL("prices_page.png", site);
const description = "Consulta precios crypto.";
const cryptoArbitrageWebsocketURL = import.meta.env.PUBLIC_CRYPTO_ARBITRAGE_WEBSOCKET_URL;
let token = "";

try {
  const response = await fetch(`${Astro.url.origin}/token`);

  if (response.ok) {
    token = (await response.json()).token;
  }
} catch (error) {
  console.error(error);
}
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Crypto Prices</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Crypto Prices" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      document.documentElement.dataset.theme = "dark";
    </script>

    <script
      defer
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
  </head>
  <body class="overflow-x-hidden bg-zinc-950 text-default">
    <div
      id="price-monitoring-app"
      hx-ext="ws"
      ws-connect={`${cryptoArbitrageWebsocketURL}/websocket/web?at=${token}`}
    >
      <header class="grid w-full gap-2 px-2 py-2 lg:px-4">
        <DollarRates />
        <ConfigurationBar />
      </header>
      <main class="h-full lg:px-2">
        <slot />
      </main>
      <footer class="px-2 py-2">
        <Footer
          navLinks={[
            {
              url: "/native-app",
              description: "CryptoARbitrage App",
              icon: "mdi:adb",
            },
          ]}
        />
      </footer>
      <div
        id="app-loading-indicator"
        class="absolute z-50 grid h-full w-full content-center justify-center bg-slate-800"
      >
        <div>
          <Icon name="cryptoarbitrage-logo" size={100} class="app-icon" />
        </div>
      </div>
    </div>
  </body>
</html>
