---
import "../styles/index.css";

import "@fontsource-variable/inter";
import Footer from "../components/footer.astro";

const { generator, site } = Astro;
const image = new URL("social.png", site);
const description = "Consulta precios crypto.";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Crypto Prices</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Crypto Prices" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>

    <style>
      .row-exchange {
        color: aqua;
      }
    </style>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <header></header>
    <main class="h-full">
      <slot />
    </main>
    <footer class="relative flex h-32 flex-col items-center justify-center">
      <Footer />
    </footer>
  </body>
</html>
